<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Panic! At The Disco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">
    
</head>

<body>

    <header>
        <nav class="navi">
            <article class="navi__image">
                <a href="/">
                <img src="imgs/logo.png" alt="Panic! At the Disco">
                </a>
            </article>
            <article class="navi__links">
                <a href="#"> Tour </a>
                <a href="#"> News </a>
                <a href="#"> Music </a>
                <a href="#"> Sing Up</a>
                <a href="#"> Store </a>
                <a href="#"> <img src="imgs/carrito.png"></a>
            </article>
        </nav>

        <article class="banner">
            <section class="banner__imagen">

            </section>
        </article>
    </header>
    <section class="spacer"></section>

    <section class="albums">

        <article class="albums__title">
            <h1>Albums</h1>
        </article>

        {{#each albums}} 
        <a href="/tienda/album?title={{title}}">
            <article class="albums__product">
                <img class="albums__product--image" src={{image}}>
                <h2 class="albums__product--title">{{title}}</h2>
                <h3>Songs: {{songs}}</h3>
                <h3>{{year}}</h3>
                <h3>Genre: {{genre}}</h3>
                <h3>{{price}}</h3>
            </article>
        </a>
    {{/each}}
    </section>
    
<section class="mercha">
        <article class="mercha__header"></article>
        <article class="mercha__title">
            <h1>Merchandasing</h1>
        </article>

    {{#each products}} 
    <a href="/tienda/producto?name={{name}}">
        <article class="mercha__product">
            <img class="mercha__product__image" src={{img}}>
            <h2 class="mercha__product__title">{{name}}</h2>
            <h3>{{price}}</h3>
        </article>
        </a>
    {{/each}}

    </section>

    <footer class="footer">
        <article class="footer__header"></article>
        <article class="footer__invitation">
            <h2>Suscribe for more!</h2>
        </article>
        <form class="footer__newsletter" action="">
            Email: <input type="text" name="fname"><br>
            <input class="footer__button" type="submit" value="Submit">
        </form>
        <article class="footer__social">
            <!--<img src="imgs/redes.png" alt="social network">-->
        </article>
    </footer>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="../main.js"></script>

</body>

</html>